<p>button-app works!</p>

<button mat-button>Basic mat button</button>
<button mat-button color="primary">Primary mat button</button>
<button mat-button color="accent">Accent mat button</button>
<button mat-button color="warn">Warn mat button</button>
<hr>
<button mat-raised-button>mat raised button</button>
<button mat-raised-button color="primary">mat raised button primary</button>
<button mat-raised-button color="accent">mat raised button accent</button>
<button mat-raised-button color="warn">mat raised button warn</button>
<hr>
<button mat-stroked-button>mat stroked button</button>
<button mat-stroked-button color="primary">mat stroked button primary</button>
<button mat-stroked-button color="accent">mat stroked button accent</button>
<button mat-stroked-button color="warn">mat stroked button warn</button>
<hr>
<button mat-fab>mat fab button</button>
<button mat-fab color="primary">mat fab button primary</button>
<button mat-fab color="accent">mat fab button accent</button>
<button mat-fab color="warn">mat fab button warn</button>