<div>
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Simple mat-card example
            </mat-card-title>
            <mat-card-subtitle>
                subtitle
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae at, velit quidem, natus iste, possimus iusto odit consequuntur quibusdam itaque laborum! Praesentium dolores est repudiandae alias quod labore quae aspernatur?
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color='primary' (click)="fun()">CLick Here</button>
        </mat-card-actions>
    </mat-card>
</div>